body{
	display:block;
	background-image: url(http://i.imgur.com/xeek3iC.jpg);
	position: relative;
	width: auto;
}
*/
html, body{
	height: 100%;
}
/*
.card-panel{
	background-color: transparent;
}
.input-field label {
	color: black;
}

.margin {
	color: white;
}
.back {
	background-color: rgba(0, 0, 255, 0.3);
}
.inside {
	color: orange;
}*/
.navbar-default{
	background-color: white;
}
.input-group{
	margin-bottom: 25px;
}
.panel-info> .panel-heading {
	background-color: #007BFF;
	color: white;
}
.img-responsive {
	background-color: ;
	width: 50px;
}
.img-circle {
	background-color: ;
	width: 90px;
}
